[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
faker = "*"
ipython = "*"
django-extensions = "*"
pip = "*"
install = "*"
django-shortuuidfield = "*"
webargs = "*"
django-debug-toolbar = "*"
pillow = "*"
flake8 = "*"
black = "*"
isort = "*"
ruff = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.12"
