{% extends 'partials/index.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Teacher's groups</h1>
            {%  if groups %}
                {% for group in groups %}

                    <p> {{ group.title }}</p>
                    <br>

                 {% endfor %}

            {% else %}
                <p>There are no groups</p>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}