{% extends 'partials/index.html' %}

{% block content %}

    <!-- <form>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" name="first_name">
        </div>

        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="last_name" name="last_name">
        </div>

        <div class="form-group">
            <label for="search_text">Search:</label>
            <input type="text" class="form-control" id="search_text" name="search_text">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->


  <div class="container mt-4 d-flex justify-content-center">
    <table class="table table-dark table-striped w-100">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Department</th>
              <th scope="col">Student count</th>
              <th scope="col">Description</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
      </thead>
      <tbody>
        {% for group in groups %}
          <tr>
            <th scope="row">{{ group.pk }}</th>
            <td>{{ group.title|title }}</td>
            <td>{{ group.department|title }}</td>
            <td>{{ group.students_count }}</td>
            <td>{{ group.description }}</td>
          <th>
              <a href="{% url 'groups:update_group' group.pk %}"  type="button" class="btn btn-primary" data-toggle="modal">
                Edit
              </a>
          </th>
          <th>
              <a href="{% url 'groups:delete_group' group.pk %}"  type="button" class="btn btn-danger" data-toggle="modal">
                Delete
              </a>
          </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}